body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #ddd;
}

.sidebar {
    width: 250px;
    background: #111;
    color: white;
    padding: 20px;
    height: 100vh;
}

h1, h2 {
    text-align: center;
}

.section {
    margin-bottom: 20px;
    border-bottom: 1px dashed white;
    padding-bottom: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

input {
    width: 80%;
    padding: 5px;
}

button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #666;
}

.editor {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.controller {
    width: 300px;
    height: 170px;
    background-color: #afafaf;
    border-radius: 20px;
    position: relative;
}

.button {
    position: absolute;
    border-radius: 50%;
}
