body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #1a1a1a;
    color: white;
    width: 25%;
    padding: 20px;
}

h2, h3 {
    text-align: center;
}

.setting {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dashed #fff;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.arrow {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.draggable {
    width: 50px;
    text-align: center;
    cursor: ew-resize;
    display: inline-block;
    font-size: 18px;
}

input[type="color"] {
    width: 100%;
}

.preview {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.shape {
    position: relative;
    background-color: #dedede;
    width: 300mm;
    height: 170mm;
    border-radius: 20mm;
}

.button {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}
